<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>View Student</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
        integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/faviconMain-32x32.png') }}">
    
</head>

<body>
    <nav class="navbar bg-light px-4">
        <div class="container-fluid">
            <a class="navbar-brand">Student</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/view">Back to view</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="d-flex justify-content-center">
        <div class="row g-3 shadow p-3 bg-body rounded m-3 " style="max-width: 600px;">
            <h2>Student View</h2>
            <p>
                Student ID: <span class="text-primary">{{ student.id }}</span> <br>
                Student Name: <span class="text-primary">{{ student.name }}</span> <br>
                Student Phone: <span class="text-primary">{{ student.phone }}</span> <br>
                Student Gender: <span class="text-primary">{{ student.gender }}</span> <br>
                Creation date: <span class="text-primary">{{ student.created }}</span> <br>
                Modified: <span class="text-primary">{{ student.modified }}</span>
            </p>
        </div>
    </div>
</body>

</html>